[Unit]
Description=Go echo service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

User=www-data
Group=www-data

ExecStart = /usr/local/bin/echo-service --listen=:%i

Restart=always
RestartSec=3

MemoryLimit=500M
MemoryAccounting=true

[Install]
WantedBy=multi-user.target